

{{form_start(f,{'attr':{'novalidate':'novalidate'}})}}
{{form_label(f.ref,'Reference:*')}}
{{form_widget(f.ref, {'attr':
    {
    'placeholder':'min 5 cara',
    'class':'ref'}
    })}}
    <div class="form-error">
    {{form_errors(f.ref)}}
    </div>
{{form_label(f.title,'Titre:*')}}
{{form_widget(f.title)}}
<span style="color:red">
{{form_errors(f.title)}}
</span>
{{form_end(f)}}



